<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= link_to root_url, class: "d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" do %>
        <svg class="bi me-2" width="40" height="40" role="img" aria-label="Bootstrap">
            <use xlink:href="#logo"></use>
        </svg>
      <% end %>

      <%= nav_bar do %>
        <%= nav_link Project.model_name.human(count: 2), projects_path %>
      <% end %>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="<%= t('search') %>" aria-label="<%= t('search') %>">
      </form>

      <div class="text-end">
        <%= link_to t('login'), new_user_session_url, class: "btn btn-outline-light me-2" %>
        <%= link_to t('signin'), new_user_registration_url, class: "btn btn-warning" %>
        <% if current_user %>
          <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
        <% end %>
      </div>
    </div>
  </div>
</header>